.guessingGame {
  background-color: #F7F7F7;
  border-radius: 0.75rem;
  padding: 1.25rem;
  box-shadow: 5px 5px 20px #353232;
}

.title {
  color: #303633;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  text-align: center;
  color: #7D55AE;
}

.subtitle {
  font-size: 0.875rem;
  text-align: center;
  color: #353232;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}

.numberInput {
  margin-bottom: 6px;
  border-radius: 6px;
  align-self: center;
  min-width: 6.25rem;
  border: 2px solid #7D55AE;
  text-align: center;
}

.btn {
  background-color: #7D55AE;
  color: #F7F7F7;
  align-self: center;
  padding: 0.625rem 1.5rem;
  border-radius: 6px;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #6776E5;
}

.message {
  color: rgb(243, 70, 70);
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.restartBtn {
  color: #7D55AE;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.restartBtn:hover {
  color: #6776E5;
  cursor: pointer;
}

.attempts {
  color: rgb(243, 70, 70);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3.125rem;
}

.history_title,
.history_value {
  text-align: center;
}

.history_title {
  color: #353232;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}

.history_value {
  color: #353232;
}